<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>Socket.io</title>
		<script src="http://localhost:3000/socket.io/socket.io.js"></script>
		<link
			rel="stylesheet"
			href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
			integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
			crossorigin="anonymous"
		/>
		<script
			src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
			integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
			crossorigin="anonymous"
		></script>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
			integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
			crossorigin="anonymous"
		></script>
		<script
			src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
			integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
			crossorigin="anonymous"
		></script>
		<script>
			$(document).ready(function () {
				let socket = io("http://localhost:3000", {
					query:
						"token=" +
						"yJhbGciOiJIUzI1NiJ9.dGVzdDE.xwsQdV26DM01VH-_XEKPTSEbyfGNuOlNcwo-9XNV3Fo",
				});
				let cid;
				let thisUser;
				let room_msg;
				let tokenTemp;
				console.log("connected");
				socket.on("error", (err) => {
					console.log(err);
					if (
						err.type == "UnauthorizedError" ||
						err.code == "invalid_token"
					) {
						$("#loginFeild").empty();
						$("#loginFeild").append(
							'<label for="Uname">Username: </label>' +
								'<input type="text" id="loginUname" name="loginUname"/>' +
								'<label for="Pword">Password: </label>' +
								'<input type="text" id="loginPword" name="loginPword"/>' +
								'<input type="button" value="Submit" id="loginSubmit"/>'
						);
						console.log("User's token has expired");
					}
				});
				socket.on("isAuth", (msg) => {
					thisUser = msg;
					//console.log(msg);
					$("#loginFeild").empty();
					$("#loginFeild").append(
						"<h1>" + thisUser.username + "</h1>"
					);
				});
				socket.on("thisRoom", async (msg) => {
					if (msg === 1) {
						alert("Duplicate User in Group");
					} else {
						room_msg = msg.message;
						$("#chatBox").empty();
						$("#chatMember").empty();
						room_msg.forEach((chat) => {
							$("#chatBox").append(chat.msg + "<br />");
						});
						msg.members.forEach((member) => {
							$("#chatMember").append(member.username + "<br />");
						});
						$("#roomID").empty();
						$("#roomID").append("<h3>" + msg._id + "</h3>");
						updateScroll();
					}
				});
				socket.on("friendList", (friendList) => {
					console.log(friendList);
					if (friendList == null) {
						alert("Username not found");
					} else if (friendList === -1) {
						alert("Duplicate friend");
					} else {
						thisUser.friends = friendList;
						$("#friendList").empty();
						friendList.forEach((friend) => {
							$("#friendList").append(friend + "<br />");
						});

						updateScroll();
					}
				});
				socket.on("updateRoom", async (room_msg) => {
					$("#chatBox").append(room_msg.msg + "<br />");
					updateScroll();
				});
				$("#add_msg").click(function () {
					if (cid == null) {
						alert("Select room first");
					} else {
						socket.emit("chat", {
							cid: cid,
							uid: thisUser.uid,
							msg: $("#comment").val(),
						});
						$("#comment").val("");
					}
				});
				$("#add_friend").click(() => {
					let uname = $("#add_friend_uname").val();
					//alert(uname);
					if (uname == "") {
						alert("Fill friend username");
					} else {
						socket.emit("addFriend", {
							uname,
						});
						$("#add_friend_uname").val("");
					}
				});
				$("#join_group").click(() => {
					let gid = $("#group_to_join").val();
					if (gid == "") {
						alert("Fill Group ID");
					} else {
						socket.emit("joinGroup", {
							gid: gid,
							username: thisUser.username,
						});
						$("#add_friend_uname").val("");
					}
				});
				socket.on("chatRooms", function (msg) {
					console.log(msg);
					if (msg.lenght != 0) {
						$("#showRooms").empty();
						msg.forEach((room) => {
							$("#showRooms").append(
								'<input type=button id="' +
									room.cid +
									'" value="' +
									room.chatName +
									'"/>'
							);
						});
					}
				});
				$(".rooms").click(function (event) {
					socket.emit("room", event.target.id);
					cid = event.target.id;
				});
				$("#createGroup").click(() => {
					socket.emit("createGroup", $("#group_name").val());
				});
				function updateScroll() {
					let element = document.getElementById("chatBox");
					element.scrollTop = element.scrollHeight;
				}

				$("#loginFeild").on("click", "#loginSubmit", async (event) => {
					let resData;
					let status;
					let uname = await $("#loginUname").val();
					let pword = await $("#loginPword").val();
					console.log(uname, pword);
					let res = await fetch("http://localhost:3000/api/login", {
						method: "POST",
						body: JSON.stringify({
							username: uname,
							password: pword,
						}),
						headers: {
							"Content-Type": "application/json",
						},
					})
						.then((res) => {
							console.log(res);
							return res.json();
						})
						.then((obj) => {
							resData = obj;
						});
					if (resData.status === 200) {
						socket.disconnect();
						let query = `token=${resData.token}`;
						socket.io.opts.query = query;
						socket.connect();
					}
				});
				socket.on("forceDisconnect", () => {
					socket.disconnect();
					alert("Duplicate Login");
					$("#loginFeild").empty();
					$("#loginFeild").append(
						'<label for="Uname">Username: </label>' +
							'<input type="text" id="loginUname" name="loginUname"/>' +
							'<label for="Pword">Password: </label>' +
							'<input type="text" id="loginPword" name="loginPword"/>' +
							'<input type="button" value="Submit" id="loginSubmit"/>'
					);
					$("#showRooms").empty();
				});
			});
		</script>
	</head>
	<body>
		<div class="container-fluid">
			<div class="row">
				<div id="loginFeild"></div>
			</div>
			<div class="row" style="height: 30px;"></div>
			<div class="jombotron text-center"><h1>Chat tester</h1></div>

			<div class="row" style="height: 30px;"></div>
			<div class="row">
				<div class="col-2"></div>
				<div class="col">
					<div class="row">
						<div class="col">
							<textarea
								id="add_friend_uname"
								style="width: 100%;"
							></textarea
							><br /><br />
						</div>
						<div class="col">
							<input
								type="button"
								id="add_friend"
								value="Add Friend"
							/>
						</div>
					</div>
					<div class="row" style="height: 30px;"></div>
					<div class="row">
						<div class="col">
							<textarea
								id="group_to_join"
								style="width: 100%;"
							></textarea
							><br /><br />
						</div>
						<div class="col">
							<input
								type="button"
								id="join_group"
								value="Join Group"
							/>
						</div>
					</div>
					<div class="row" style="height: 30px;"></div>
					<div class="row">
						<div class="rooms" id="showRooms"></div>
					</div>
					<div class="row" style="height: 30px;"></div>
					<div class="row" style="height: 30px;" id="roomID"></div>
					<div class="row" style="height: 30px;"></div>
					<div class="row" style="height: 200px;">
						<div class="col-2">
							<div
								id="chatMember"
								style="
									border-style: solid;
									width: 100%;
									height: 100%;
									overflow: auto;
								"
							></div>
						</div>
						<div class="col">
							<div
								id="chatBox"
								style="
									border-style: solid;
									width: 100%;
									height: 100%;
									overflow: auto;
								"
							></div>
						</div>
						<div class="col-2">
							<div
								id="friendList"
								style="
									border-style: solid;
									width: 100%;
									height: 100%;
									overflow: auto;
								"
							></div>
						</div>
					</div>
					<div class="row" style="height: 30px;"></div>
					<div class="row">
						<div class="col">
							<textarea
								id="comment"
								style="width: 100%;"
							></textarea
							><br /><br />
						</div>
						<div class="col">
							<input type="button" id="add_msg" value="Send" />
						</div>
					</div>
					<div class="row">
						<div class="col">
							<textarea
								id="group_name"
								style="width: 100%;"
							></textarea
							><br /><br />
						</div>
						<div class="col">
							<input
								type="button"
								id="createGroup"
								value="Create Group"
							/>
						</div>
					</div>
					<div class="row" style="height: 50px;"></div>
				</div>
				<div class="col-2"></div>
			</div>
		</div>
		<script type="text/javascript"></script>
	</body>
</html>
